@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --primary: #171717;
  /* Black for buttons/links */
  --secondary: #737373;
  /* Medium gray for subtext */
  --muted: #F5F5F5;
  /* Light gray for backgrounds */
  --accent: #737373;
  /* Medium gray for highlights */
  --destructive: #DC2626;
  /* Red for warnings */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.font-bebas {
  font-family: var(--font-bebas);
}

.font-playwrite {
  font-family: var(--font-playwrite);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.invert-img {
  transform: scaleX(-1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}